/* General Styles */
body {
	font-family:'Times New Roman', Times, serif;
	margin: 0;
	padding: 0;
}

h1, h2 {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 5px 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000;
}

/* Header Styles */
header {
	background-color: #090808;
	color: #3a48e6;
	padding: 10px;
}

header h1 {
	float: left;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
	margin: 0 5px;
}

/* Main Styles */
main {
	float: center;
	width: 70%;
	padding: 70px;
}

main section {
	margin-bottom: 20px;
}

/* Aside Styles */
aside {
	float:none;
	width: 50px;
	padding: 50px;
}

aside img {
	width: 100%;
	height: auto;
}

/* Footer Styles */
footer {
	background-color: #68240a;
	color: #096b12;
	padding: 10px;
	clear: both;
}

